@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.weektable{
  margin-left: 5rem;
}
a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
}

.navbar{
  position: fixed; 
  left: 0;
  top: 0;
  background: #364F6B;
  width: 5rem;
  height: 100vh;
  display: flex;
  /* grid-template-columns: 1fr; */
  align-items: center;
  grid-gap: 1rem;
}


.nav-item{
  width: 4rem;
  height: 4rem;
  background:#3f5c7c;
  border-radius: 50%;
  margin-left: -2em;
  margin-bottom: 1rem;
}

.nav-link{
  position: relative;
  font-size: 2rem;
  top: 17%;
  left: 15%;
}

.main{
  margin-left: 5rem;
}

.table{
  width: 100%;
  padding: 1rem;
  white-space: nowrap;
  /* table-layout: fixed;
  height: 4rem; */
}

table, th {
  border: 1px solid black;
  border-collapse: collapse;
}

td{
  border: 1px solid #a09f9f;
  border-collapse: collapse;
  height: 2rem;
}

.top-bar{
  width: 100%;
  padding-left: 1rem;
  display: flex;
  grid-auto-columns: auto;
  border: 1px #000 solid;
  align-items: center;
  padding: 0;
  height: 4rem;
  background: #ffffff;
  top: 0;
  position: sticky;
  z-index: 4;
  overflow: hidden;
}

.top-bar div{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 50%;
}

#top-bar-calendar:in-range::-webkit-datetime-edit-year-field,
#top-bar-calendar:in-range::-webkit-datetime-edit-month-field,
#top-bar-calendar:in-range::-webkit-datetime-edit-day-field,
#top-bar-calendar:in-range::-webkit-datetime-edit-text { 	
  display: none;
}

#top-bar-calendar::-webkit-datetime-edit-day-field,
#top-bar-calendar::-webkit-datetime-edit-month-field, 
#top-bar-calendar::-webkit-datetime-edit-text{
  color: transparent;
}

#top-bar-calendar{
  margin-left: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

#top-bar-calendar::-webkit-calendar-picker-indicator{
  margin-left: -100px;
  cursor: pointer;
}

.top-bar h3{
  font-size: 1.4rem;
}

.top-bar ul{
  width: 50%;
  text-align: end;
}
.top-bar a{
  color: #000000;
}

.top-bar li{
  display: inline;
  margin-right: 1.4rem;
  font-size: 1.1rem;
}

.table-heading-first{
  width: 8rem;
}

.table-data{
  height: 2rem;
}

.table-heading{
  text-align: start;
  padding-left: .3rem;
}

.table-row{
  height: 4rem;
  overflow: visible;
}

.table-row-heading th{
  height: 8rem;
  width: 12.5%;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}
th {
  position: sticky;
  top: 4rem; 
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 2;
  background: #ffffff;
}

.table-heading-first{
  z-index: 3;
}

.modal{
  position: fixed;
  top: 22%;
  left: 38%;
  width: 20rem;
  background: #364F6B;
  text-align: start;
  border-radius: 5px;
  border: 1px solid #2a3f55;
  z-index: 4;

}

.modal-title{
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  background: #ffffff;
  height: 4rem;
  display: flex;
  align-content: center;
}

.modal i{
  position: absolute;
  top: .2rem;
  right: .6rem;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-weight: bold; */
  font-style: normal;
  cursor: pointer;
}

.modal-title h3{
  margin-left: 2rem;
}

.modal form{
  padding: 0rem 2rem 1rem 2rem;
  color: #ffffff;
  font-size: 1.4rem;
}

.modal form > div{
  margin-top: 1rem;
}

.input-field input, .input-field-time input{
  width: 100%;
  height: 1.4rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #ffffff;
}
input::placeholder{
  color: #ffffff;
}

input:focus{
  outline: none;
  border-bottom: 1.5px solid #22d1ee; 
}

.input-field-time{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-field-time .time-field{
  width: 90%;
}

.time-field:nth-child(2){
  margin-left: 1.4rem;
}

.modal form > div:last-child{
  width: 6rem;
}

.submit-btn{
  margin: .5rem 0;
  padding: .5rem 1rem;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

.show{
  display: inline;
}

td:hover{
  background: rgb(219, 218, 218);
  cursor: pointer;
}

.task{
  height: 100%;
  text-align: center;
  color: #fff;
  width: 95%;
  border-radius: 5px;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  
}

.task-title{
  margin-top: -1rem;
  
}

.task-content{
  margin-top: -1rem;

}

table.fixed {
  table-layout:fixed; 
  width:100%;
}

.table-data-h{
  height: 4rem;
}

.table-data{
  height: 2rem;
  text-align: center;
}
td{
  position: relative;
  text-align: center; 
  overflow: hidden;
}

.time-input-error{
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  background: rgb(255, 0, 0);
  padding: 0.5rem 0;  
  margin-bottom: -0.5rem;
}

