@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.weektable{
  margin-left: 5rem;
}
a{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;
}

.navbar{
  position: fixed; 
  left: 0;
  top: 0;
  background: #364F6B;
  width: 5rem;
  height: 100vh;
  display: flex;
  /* grid-template-columns: 1fr; */
  align-items: center;
  grid-gap: 1rem;
}


.nav-item{
  width: 4rem;
  height: 4rem;
  background:#3f5c7c;
  border-radius: 50%;
  margin-left: -2em;
  margin-bottom: 1rem;
}

.nav-link{
  position: relative;
  font-size: 2rem;
  top: 17%;
  left: 15%;
}

.main{
  margin-left: 5rem;
}

.table{
  width: 100%;
  padding: 1rem;
  white-space: nowrap;
  /* table-layout: fixed;
  height: 4rem; */
}

table, th {
  border: 1px solid black;
  border-collapse: collapse;
  border-top: none;
}

td{
  border: 1px solid #a09f9f;
  border-collapse: collapse;
  height: 2rem;
}

.top-bar{
  width: 100%;
  padding-left: 1rem;
  display: flex;
  grid-auto-columns: auto;
  border: 1px #000 solid;
  align-items: center;
  padding: 0;
  height: 4rem;
  background: #ffffff;
  top: 0;
  position: sticky;
  z-index: 4;
  overflow: hidden;
}

.top-bar div{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 50%;
}

#top-bar-calendar:in-range::-webkit-datetime-edit-year-field,
#top-bar-calendar:in-range::-webkit-datetime-edit-month-field,
#top-bar-calendar:in-range::-webkit-datetime-edit-day-field,
#top-bar-calendar:in-range::-webkit-datetime-edit-text { 	
  display: none;
}

#top-bar-calendar::-webkit-datetime-edit-day-field,
#top-bar-calendar::-webkit-datetime-edit-month-field, 
#top-bar-calendar::-webkit-datetime-edit-text{
  color: transparent;
}

#top-bar-calendar{
  margin-left: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

#top-bar-calendar::-webkit-calendar-picker-indicator:focus{
  outline: none;
}

#top-bar-calendar::-webkit-calendar-picker-indicator{
  margin-left: -100px;
  cursor: pointer;
}

.top-bar h3{
  font-size: 1.4rem;
}

.top-bar ul{
  width: 50%;
  text-align: end;
}
.top-bar a{
  color: #000000;
}

.top-bar li{
  display: inline;
  margin-right: 1.4rem;
  font-size: 1.1rem;
}

.table-heading-first{
  width: 8rem;
}

.table-data{
  height: 2rem;
}

.table-heading{
  text-align: start;
  padding-left: .3rem;
}

.table-row{
  height: 4rem;
  overflow: visible;
}

.table-row-heading th{
  height: 8rem;
  width: 12.5%;
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}
th {
  position: sticky;
  top: 4rem; 
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  z-index: 2;
  background: #ffffff;
}

.table-heading-first{
  z-index: 3;
}

.modal{
  width: 100%;
  height: 100%;
}

.modal-card{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  background: #364F6B;
  text-align: start;
  border-radius: 5px;
  border: 1px solid #2a3f55;
  z-index: 4;
}

.modal-title{
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  background: #ffffff;
  height: 4rem;
  display: flex;
  align-content: center;
}

.modal i{
  position: absolute;
  top: .2rem;
  right: .6rem;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-weight: bold; */
  font-style: normal;
  cursor: pointer;
}

.modal-title h3{
  margin-left: 2rem;
}

.modal form{
  padding: 0rem 2rem 1rem 2rem;
  color: #ffffff;
  font-size: 1.4rem;
}

.modal form > div{
  margin-top: 1rem;
}

.input-field input, .input-field-time input{
  width: 100%;
  height: 1.4rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #ffffff;
}
input::placeholder{
  color: #ffffff;
}

input:focus{
  outline: none;
  border-bottom: 1.5px solid #22d1ee; 
}

.input-field-time{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-field-time .time-field{
  width: 90%;
}

.time-field:nth-child(2){
  margin-left: 1.4rem;
}

.modal form > div:last-child{
  width: 6rem;
}

.submit-btn{
  margin: .5rem 0;
  padding: .5rem 1rem;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

.show{
  display: inline;
}

td:hover{
  background: rgb(219, 218, 218);
  cursor: pointer;
}

.task{
  height: 100%;
  text-align: center;
  color: #fff;
  width: 95%;
  border-radius: 5px;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  
}

.task-title{
  margin-top: -1rem;
  
}

.task-content{
  margin-top: -1rem;

}

table.fixed {
  table-layout:fixed; 
  width:100%;
}

.table-data-h{
  height: 4rem;
}

.table-data{
  height: 2rem;
  text-align: center;
}
td{
  position: relative;
  text-align: center; 
  overflow: hidden;
}

.time-input-error{
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  background: rgb(255, 0, 0);
  padding: 0.5rem 0;  
  margin-bottom: -0.5rem;
}

.monthtable{
  margin-left: 5rem;
}

.table-row-heading-month{
  height: 2rem;
}

.th-month{
  top: 0;
}

.day-month{
  position: absolute;
  top: -0.8rem;
  right: .2rem;
  font-weight: 550;

}

.day-other-month{
  position: absolute;
  top: -0.8rem;
  right: .2rem;
  opacity: .5;
}

.task-month{
  background-color: #17B978;
  color: #fff;
  border-radius: 10px;
  height: 1rem;
  font-size: 0.8rem;
  text-align: left;
  padding: 0 0 0 0.2rem;
  margin: 0 0 .1rem 0;
  width: 70%;
  z-index: 7;
}
.task-month p{
  padding: 0;
  margin: 0;
}

.today {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.today .table-row{
  height: 2rem;
}

.today .table-row:nth-child(even){
  background-color: #f5f5f5;
}

.table-heading-today:first-child{
  width: 7rem;
  border-bottom: solid 1px #000000;
  z-index: 2;  
}

.today .table-data-h{
  position: unset;
}

.day {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.table-parent,.table-parent table {
  position: unset;
  width: 100%;
  border: none;
}

.td-parent{
  height: unset;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  
}

.td-parent:hover{
  cursor: unset;
  background-color: white;
}

.td-parent th{
  top: 0;
}

.table-parent table{
  width: 100%;
}

.div-parent{
  margin: 1.3rem 0 0 7.5rem;
  padding: 0;
  width: calc(100% - 7.5rem);
  position: absolute;
  top: 0;
  left: 0;
}

.task-div{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgb(64, 156, 46);
  padding: 0;
  margin: 0;
  width: 93%;
  overflow: hidden;
  text-align: center;
}

.task-div p{
  margin-top: 0rem;
}

.week{
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.week table{
  width: 100%;
}

.week{
  position: unset;
}

.week th[rowSpan = '2']{
  position: unset;
}

.tr-heading th{
  width: 12.5%;
  padding-left: .2rem;
  height: 3rem;
}

.weekday{
  width: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  
}

.ham{
  display: none;
}

.details .modal-card{
  width: 17rem;
}

.modal-body{
  padding: 1rem 2rem;
}

.modal-body h4{
  color: #fff;
  opacity: 0.8;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.modal-body h3{
  color: #fff;
  font-weight: 500;
  margin: 0.3rem 0 1.2rem 0;
  font-size: 1.3rem;
}

.group-time{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-btn{
  margin-top: -.5rem;
}

.btn{
  margin-right: .5rem;
}

.login, .signin{
  margin-left: 5rem;
  width: calc(100% - 5rem);
  height: 100vh;
  position: relative;
}

.auth .card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: rgb(216, 214, 214);
  width: clamp(25rem, 50%, 30rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.auth-title{
  background-color: #364F6B;
  color: #fff;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: .5rem;
}

.auth form{
  padding: 1rem;
  background-color: #fff;
  border-radius: .5rem;
}

.auth .input-field{
  margin-bottom: 1rem;
}

.auth .input-field label{
  font-size: 1.3rem;
}

.auth .input-field input{
  margin-top: .5rem;
  border-bottom: 1px solid #364F6B;
  color: #000;
  transition: all 0.1s ease-in;
}

.auth .input-field input::placeholder{
  color: #000;
}

.auth .input-field input:focus{
  border-bottom: 1px solid #364F6B;
  color: #000;
  height: 2rem;
  font-size: 1rem;
}

.auth input[type='submit']{
  margin: 1rem 0;
  background-color: #2f4864;
  color: #fff;  
  box-shadow: .1px 1px #000;
}

.auth-timescale{
  display: none;
}

.auth .top-bar{  
  border: none;
  border-bottom: 1px solid #000;
}

.message{
  background-color: rgb(252, 79, 79);
  color: white;
  padding: .2rem 1rem;
}

@media screen and (max-width: 550px){

  .auth .card{
    width: clamp(12rem, 90%, 30rem);
  }

  .login, .signin{
    width: 100%;
    margin: 0;
  }

  .auth input[type='submit']{
    width: 100%;
  }

  .navbar{
    display: none;
    z-index: 5;
    width: 100%;
    opacity: 0.8;
    background-color: #000000;
  }

  .navbar-nav{
    width: 100%;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
  }

  .nav-item{
    background-color: #000;
    margin: 0;
    padding: 0;
  }

  .day, .week, .monthtable{
    margin: 0;
    width: 100%;
  }

  .top-bar h3{
    font-size: 1.3rem;
  }

  #top-bar-calendar{
    margin: 0;
    padding: .5rem;
  }

  .top-bar ul{
    /* display: none; */
    flex-direction: column;
    pointer-events: none;
    position: fixed;
    top: 1.8rem;
    right: 0rem;
    width: 5rem;
    border-radius: .2rem;
    background-color: #517094;
    padding: 0rem;
    transform: translateY(-3rem);
    opacity: 0;
    transition: ease-in all 0.3s;
  }

  .top-bar ul.show{
    opacity: 1;
    pointer-events: all;
    transform: translateY(.5rem);
  }

  .top-bar ul > li{
    text-align: center;
    height: 4rem;
    border-radius: .2rem;
    width: 100%;
    display: grid;
    justify-self: center;
    align-content: center;
  }

  .top-bar ul > li:hover{
    background-color: #6185ad;
  }

  .top-bar ul > li a{
    color: #fff;
  }

  .top-bar div{
    width: 80%;
    margin-left: 3em;
  }

  .three-dots{
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    z-index: 5;
    height: 1.3rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all ease-in 0.3s;
  }

  .dot{
    width: .3rem;
    height: .3rem;
    background-color: #000000;
    margin-bottom: .1rem;
    border-radius: 50%;
  }

  .ham{
    display: block;
    position: fixed;
    top: 1.6rem;
    left: 1rem;
    z-index: 6;
    cursor: pointer;
  }

  .ham .line{
    z-index: 6;
    width: 1.3rem;
    height: .2rem;
    background-color: #000000;
    margin-bottom: 3px;
    transition: all ease-in 0.3s;
  }

  .table-heading-today:first-child{
    width: 2.5rem;
  }
  
  .div-parent{
    width: calc(100% - 2.5rem);
    margin-left: 3rem;
  }

  .modal form > div{
    margin-bottom: .5rem;
  }

  .modal form > input{
    margin-bottom: 7rem;
  }
  
  .input-field-time{
    grid-template-columns: 1fr;
    width: 100%;
  }

  .time-field:nth-child(2){
    margin-left: 0;
    margin-top: 1rem;
  }

  .input-field-time .time-field{
    width: 100%;
  }
}


@media screen and (max-width: 350px){
  .modal-card{
    width: 90%;
    
  }

  .modal-card form{
    padding: 0.8rem;
  }
}